*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background: #171717;
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 8px 5%;
    margin-bottom: 20px;
    background: #171717;
}

section nav .logo h1{
    font-size: 25px;
    color: #ffe100;
    cursor: pointer;
}

section nav .logo h1 span{
    color: #fff;
    margin-left: 8px;
    text-decoration: underline;
}

section nav .right ul{
    list-style: none;
}

section nav .right ul li{
    display: inline-block;
    margin: 0 5px;
}

section nav .right ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

section nav .right ul li a:hover{
    color: #ffe100;
}



.swiper {
    width: 95%;
    height: 85%;
    border-radius: 20px;
    overflow: hidden;
  }

  .swiper::selection{
    user-select: none;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide .image .black{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0),rgba(0,0,0,0.9));
  }

  .swiper-slide .image .black h1{
    font-size: 25px;
    text-align: left;
    position: relative;
    top: 60%;
    left: 5%;
    color: #fbfaf9;
  }

  .swiper-slide .image .black .star{
    color: #ffd500;
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black p{
    width: 520px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
    line-height: 23px;
    font-family: "Ink Free";
  }

  .swiper-slide .image .black .genre{
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black .genre a.category{
    background: #282931;
    text-decoration: none;
    color: #cccccc;
    padding: 2px 7px;
  }

  .swiper-slide .image .black .genre a.category span{
    color: #ffe100;
  }

  .swiper-slide .image .black .watch{
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black .watch i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #fbfaf9;
    border-radius: 50%;
    cursor: pointer;
  }

  .swiper-slide .image .black .watch p{
    position: relative;
    left: 15px;
    font-family: cover;
  }
 
  .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }



  .search-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
  }
  
  .search-container input,
  .search-container button{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;

  }

  .search-container input{
    background-color: transparent;
    border: 1px solid #a0a0a0;
    padding: 0.7em;
    color: #ffffff;
  }

  .search-container input:focus{
    border-color: #ffffff;

  }

  .search-container button{
    background-color: #ffb92a;
    border: none;
    cursor: pointer;
  }

  /*--------------*/

.second{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background: #171717;
}

.second .latest{
  width: 95%;
  margin: 0 auto;
}

.second .latest h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.second .latest .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second .latest .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.second .latest .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
  
}

.second .latest .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}


.second .latest .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}


.second .latest .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.second .latest .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .info .rate{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.second .latest .box .card .details .left .info .rate i{
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.second .latest .box .card .details .left .info .rate p{
  font-size: 12px;
}

.second .latest .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.second .latest .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.second .latest .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}


.second .latest .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.second .latest .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




/*---------*/

.upcoming{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #171717;
}

.upcoming .movies_box{
  width: 95%;
  margin: 0 auto;
}

.upcoming .movies_box h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.upcoming .movies_box .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upcoming .movies_box .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.upcoming .movies_box .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.upcoming .movies_box .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.upcoming .movies_box .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe100;
  border-radius: 50%;
  cursor: pointer;
  color: #282931;
  margin: 0 10px 8px 0;
}

.upcoming .movies_box .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



header{
  background-color: #595552;
  box-shadow: 0 0 5px #000;
  /* border: 5px solid black; */
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  /* border: 5px solid black; */
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
} 
.nav-branding{
  font-size: 2rem;
}
.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: dodgerblue
}

.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media(max-width:768px){
  .hamburger{
      display: block;
      
  }
  .hamburger.active .bar:nth-child(2){
      opacity: 0;
      z-index: 0;
  }
  .hamburger.active .bar:nth-child(1){
      transform: translateY(5px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-5px) rotate(-45deg);
  }

  .nav-menu{
      position: fixed;
      left: -100%;
      top: 0vh;
      flex-direction: column;
      background-color: #262626;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      z-index: 999;
  }

  .nav-item{
  
      margin: 16px 0;
      /* border: 5px solid rgb(228, 217, 217); */
  }
  .nav-menu.active{
      left: 0;
  }

}

.scrollTop{
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  background-color: #df9595;
  color: #fff;
  border-radius: 5px;
  border-radius: 1px solid #fff;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.scrollTop:hover{
  background-color: #f7f7f7;
  color: #000;
}


/* Styles for website counter container */
.website-counter {
  background-color: #ff4957;
  height: 50px;
  width: 80px;
  color: black;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
  height: 30px;
  text-align: center;
  margin-left: 50%;
}

/* Styles for reset button */
#reset {
  margin-top: 20px;
  background-color: #008cba;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color: white;
  border: 0;
  text-align: center;
  margin-left: 50%;
}